@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

#titulo{
    font-family: sans-serif;
    color: blueviolet;
    margin-left: 2%;
}

#subtitulo{
    font-family: sans-serif;
    color: blueviolet;
    margin-left: 2%; 
}

#checkbox{
    display: inline-block ;
}

#nome{
    margin-left: 45%; 

}
#sobrenome{
    margin-left: 45%; 
}
#email{
    margin-left: 45%; 
}
#senioridade{
    margin-left: 47.5%; 
}
#experiencia{
    margin-left: 41%;  
}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 1800px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

fieldset{
    border: 0;
}

body{
    text-align: center;
    background-color: aliceblue;
    font-family: sans-serif;
    font-size: 1em;
    color: blueviolet;
    margin-left: 36px;
    margin-top: 2%;

}

input, select, textarea, button{
    border-radius: 5px;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: blueviolet;
    display: block;

}

fieldset.grupo.campo{
    float: left;
    margin-right: 1em;
   
}

.campo input[type="text"], .campo input[type="email"],.campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid  ;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #E0E0F8;
}

.botao{
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    color: #ffffff;
    padding: 0.6em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    left: 101%;
    margin-left: -50%;
    transform: translate(-50%,50%);
   
}

.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow:none;

}

.botao, select{
    cursor: pointer;
}




















