@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    text-align: center;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}


.titulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:antiquewhite;
}
.grupo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:antiquewhite;
    border: 0.4px none;
    align-content: center;
    width: 50%; 
    margin: 0px auto;
}

.nome{
    display: block;
    border-radius: 30px;
    width: 400px;
    height: 30px;
    margin: 10px auto;
}

.sobrenome{
    display: block;
    border-radius: 30px;
    width: 400px;
    height: 30px;
    margin: 10px auto;
}
.email{
    display: block;
    border-radius: 30px;
    width: 400px;
    height: 30px;
    margin: 10px auto;
}

.senioridade{
    font-size: 16px;
    border-radius: 6px;
    width: 150px;
    height: 25px;
}

.experiencia{
    border-radius: 20px;
    width: 600px;
    height: 200px;
}

.campo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:antiquewhite;
}

.cabecalho-item:hover {
    background-color: rgba(236, 214, 196, 0.53);
    border-radius: 6px;
}

.cabecalho{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-foto{
    height: 150px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-item{
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.concluido:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.concluido{
    background-color: antiquewhite;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#2F2325 ;
}

.conteudo-secundario{
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-bottom: 16px;
}

.rodape{
    padding: 20px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem{
    height: 200px;
    display: block;
    margin: 0 auto;
} 















